/*
About Us Page CSS
Created: 2024-May-3
*/

.pageCompanyHeading {
    padding: 1vh;
    margin: 0;
}
.pageCompanyHeadingText {
    background-color: whitesmoke;
    padding: 1vh;
    margin: 0 0 1.5% 0;
}

.pageCompanyHeading hr {
    width: 25%;
    color: black;
    margin: 1.25% auto;
}

#pageCompanyLogo {
    width: 20%;
    margin: 1px;
    border: 1px solid black;
    border-radius: 2%;
    padding: 0;
}

.AboutUsPageContent h4 {
    margin: 2% auto 1px auto;
    padding: 0;
}

.AboutUsPageContent p {
    margin: 1vh 19% 2vh 19%;
    font-size: larger;
}

.AboutUsPageContent ul li {
    font-size: larger;
    list-style: none;
    width: 100%;
    margin: 1vh 1px;
}

.AboutUsPageContent table {
    margin: 1px 20% 2vh 20%;
    width: 60%;
    border: 2px solid black;
}

/* Specific Heading Adjustments */
.WhoWeAre, .WhoWeAre h4 {
    margin: 1px auto;
}

.careersTable th {
    padding: 1%;
    border: 1px solid black;
    background-color: gainsboro;
}

.careersTable tr, .careersTable td {
    padding: 1.75% 1em;
    font-weight: 475;
    border: 1px solid black;
}

.careersTable button {
    background-color: antiquewhite;
    font-weight: 400;
}