/*
Login Page CSS
Created: 2024-MAY-2
*/
#loginPageBG {
    background-image: url("../assets/kelly-sikkema-rwVSwdGN3o8-unsplash.jpg");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 7vh 4%;
    z-index: 0;
}

/* Login Form Styling */
#loginPageUI {
    position: relative;
    top: 3em;
    bottom: 35vh;
    width: 30%;
    height: fit-content;
    left: 35%;
    left: 35%;
    margin: 2vh 0 10vh 0;
    padding: 2vh 2%;
    background-color: whitesmoke;
    border-radius: 2%;
    z-index: 1;
}
#loginPageUI input {
    width: 70%;
    padding: 1vh;
    margin: 2vh;
}

#loginPageUI #submit {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    #loginPageBG {
        padding: 5vh 4%;
    }
    #loginPageUI {
        width: 40%;
        left: 30%;
        left: 30%;
    }
    #loginPageUI input {
        width: 80%;
        padding: 1vh;
        margin: 1vh;
    }
}

@media screen and (max-width: 768px) {
    #loginPageUI {
        width: 70%;
        top: 2em;
        left: 15%;
        left: 15%;
    }
}
