.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin: 1% 0 0 0;
  width: fit-content;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 20%;
}

.App-header {
  background-color: rgb(255, 255, 255);
  padding: 1px 10vh;
  margin: 0;
  font-size: calc(10px + 1vmin);
}

/* The hero image - from W3C */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/Star\ Nationals\ Inc\ Official\ Logo\ 2016.png");

  /* Set a specific height */
  height: 72vh;
  width: 100%;
  margin: 0;
  padding: 0;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Place text in the middle of the image */
.hero-text {
  margin: 1% 0;
}

main .col-lg-4 {
  padding: 2% 8%;
}

.heading-img {
  object-fit: cover;
  border-radius: 20%;
}